body, html {
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #101418;
}

body {
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-areas: "header" "content-area" "footer-area";
    min-height: 100vh;
}

ul { list-style: none; padding-left: 5px; }

.content {
    flex: 1;
    max-width: 1192px;
    padding: 0.05px 44px 0px 44px;
    margin: auto;
    grid-area: content-area;
    display: grid;
    gap: 20px;
    grid-template-areas: "navegacao main section";
    grid-template-columns: minmax(0,15rem) minmax(0,2.5fr) minmax(0,15rem);
    height: 100%;
    align-items: start;
}
.footer {
    min-height: 100px;
    border-top: solid 1px #cdcdcd;
    grid-area: footer-area;
}
.section {
    border-left: solid 1px #cdcdcd;
    padding-left: 15px;
    grid-area: section;
}
.navegacao {
    border-right: solid 1px #cdcdcd;
    grid-area: navegacao;
}
.main {
    grid-area: main;
    min-height: 100%;
}
figure {
    text-align: center;
}

header{
    box-sizing: border-box;
    display: flex;
    max-width: 1280px;
    padding: 8px 44px 8px 44px;
    grid-area: header;
    width: 100%;
}

head .header-logo{
    max-width: 220px;
    max-height: 50px;
}

header .header-logo a{
    display: flex;
    text-decoration: none;
    gap: 10px;
    color: #f9f9fb;
    margin: 5px 0px 0px 50px;
}

header a span{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header-logo h1{
    font-size: 20px;
    margin: 0;
}

.header-logo h2{
    font-size: 11px;
    margin: 0;
}

.content .navegacao{
    max-width: 208px;
    margin-top: 44px;
}

.cabecalho{
    display: flex;
    max-width: 164px;
    max-height: 30px;
    color: #f9f9fb;
    border-bottom: solid 0.1px #72777d;
}

.cabecalho h2{
    margin: 0px 8px 0px 0px;
    color: #f8f9fa;
    font-size: 15px;
}

.cabecalho button{
    margin-bottom: 4px;
    background-color: #404244;
    border: 1px solid #404244;
    border-radius: 4px;
    color: #f9f9fb;
}

.navegacao .vector-toc-link{
    text-decoration: none;
}

.navegacao .vector-toc-text{
    max-width: 180px;
    max-height: 16;
    margin: 0;
    font-size: 16px;
    padding: 6px 0px 6px 0px;
    color: #f8f9fa;
}

.content .section{
    max-width: 196px;
    margin-top: 44px;
}

.content .section .vector-container-rights{
    margin-bottom: 32px;
    padding: 0px 16px 0px 16px;
}

.content .section .cabeçalho-fixável-vetor{
    padding-bottom: 6px;
    display: flex;
    border-bottom: 1px solid #72777d;
}

.content .section .cabeçalho-fixável-vetor h2{
    margin: 0px 8px 0px 0px;
    color: #f8f9fa;
    font-size: 15px;
}

.content .section .cabeçalho-fixável-vetor button{
    background-color: #404244;
    border: 1px solid #404244;
    border-radius: 4px;
    color: #f8f9fa;
    padding: 3px;
}

.content .section .vector-menu-rights h2{
    color: #f8f9fa;
    font-size: 15px;
    border-bottom: 1px solid #72777d;
    padding-bottom: 6px;
    font-weight: normal;
}

.content .section .vector-menu-content-list{
    margin: 0;
    padding: 0;
}

.cdx-radio{
    max-width: 216px;
    max-height: 26px;
    margin-bottom: 6px;
}

.content .section .vector-menu-rights label{
    color: #f8f9fa;
}

.content .main .main-header{
    padding: 0;
    border-bottom: 1px solid #72777d;
}

.content .main .main-header h1{
    margin: 0;
    font-size: 25px;
    color: #f8f9fa;
    padding-bottom: 3px;
}

.main .main-navegacao{
    border-bottom: 1px solid #72777d;
    display: flex;
    justify-content: space-between;
}

.main .main-navegacao .left-navigation{
    max-width: 365px;
}

.main .main-navegacao .left-navigation ul{
    display: flex;
    margin: 0;
    padding: 10px 0px 5px 0px;
}

.main .main-navegacao .left-navigation ul li{
    margin: 0px 8px 0px 0px;
}

.main .main-navegacao .left-navigation .left-link-nav{
    text-decoration: none;
    color: #f8f9fa;
}

.main .main-navegacao .right-navigation{
    max-width: 302px;
    max-height: 36px;
    display: flex;
}

.main .main-navegacao .primeiro-nav-right{
    max-width: 181px;
}

.main .main-navegacao .segundo-nav-right{
    max-width: 120px;
}

.main .main-navegacao .right-navigation ul{
    display: flex;
    margin: 0;
    padding: 10px 0px 5px 0px;
}

.main .main-navegacao .right-navigation ul li{
    margin: 0px 10px 0px 0px;
}

.main .main-navegacao .right-navigation .right-link-nav{
    text-decoration: none;
    color: #f8f9fa;
}

.main .segundo-nav-right details summary{
    color: #f8f9fa;
    padding: 10px 0px 5px 0px;
}

.main .segundo-nav-right details ul h3{
    margin: 0;
    border-bottom: 0.1px solid #72777d;
    padding: 5px 0px 5px 0px;
    color: #f8f9fa;
    font-size: 10px;
}

.main .segundo-nav-right details ul{
    display: flex;
    flex-direction: column;
}

.main .segundo-nav-right details .vector-menu-menor{
    text-decoration: none;
    color: #f8f9fa;
    font-size: 10px;
}

.main-body-content .body-tb-img{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-body-content .body-tb-img figure{
    border: 0.1px solid #f8f9fa;
    max-width: 359px;
}

.main-body-content .body-tb-img figure a img{
    border: 0.1px solid #f8f9fa;
    margin: 3px;
    background-color: #f8f9fa;
}

.main-body-content .body-tb-img figure figcaption{
    color: #f8f9fa;
    text-align: start;
    font-size: 12px;
    margin: 2px 0px 2px 3px;
}

.main .main-body-content .body-ltr .main-body-txt{
    color: #f8f9fa;
    font-size: 15px;
}

.main .main-body-content .body-ltr .main-liks-txt{
    text-decoration: none;
    color: #DA70D6;
}

.main-body-content .main-txt h2{
    color: #f8f9fa;
    border-bottom: 0.1px solid #72777d;
    padding: 10px 0px 10px 0px;
}

.main-body-content table, table th, table td{
    border: 0.1px solid #72777d;
    border-collapse: collapse;
    color: #f8f9fa;
}

.main-body-content table td:nth-child(1),
.main-body-content table td:nth-child(n+3):nth-child(-n+4){
    text-align: center;
    padding: 3px 10px 3px 10px;
}

.main-body-content table th:nth-child(n+1):nth-child(-n+5){
    padding: 5px 5px 5px 5px;
}

.main-body-content table th{
    background-color: #262525;
}

.main-body-content table td{
    background-color: #252626;
}

.main-body-content table td a{
    text-decoration: none;
    color: #DA70D6;
}

.main-body-content table td a:hover{
    text-decoration: underline;
    text-decoration-thickness: 1px;
}

.main-body-content table th a{
    text-decoration: none;
    color: #DA70D6;
}

.main-body-content table th a:hover{
    text-decoration: underline;
    text-decoration-thickness: 1px;
}

.main-body-content table td a:nth-child(2),
.main-body-content table td a:nth-child(5){
    padding: 3px 5px 3px 5px;
}

.main-body-content ul li{
    list-style-type: disc;
    color: #f8f9fa;
}

.main-body-content ul li a{
    text-decoration: none;
    color: #DA70D6;
}

.main-body-content ul li a:hover{
    text-decoration: underline;
    text-decoration-thickness: 1px;
}

.main-body-content .referencias a{
    text-decoration: none;
    color: #DA70D6;
}
.main-body-content .referencias a:hover{
    text-decoration: underline;
    text-decoration-thickness: 1px;
}

.main-body-content .referencias li{
    color: #f8f9fa;
}

.ligacoes-externas .navbar{
    max-width: 700px;
    max-height: 35px;
    padding: 3px;
}

.navbar table{
    width: 100%;
    margin: 10px 0px 5px 5px;
}

.ligacoes-externas .navbar .navbar-mini ul{
    display: flex;
    margin: 0;
}

.ligacoes-externas .navbar th{
    display: flex;
    align-items: center;
    margin: 3px 14px 3px 14px;
    background-color: #101418 ;
    border: 0;
}

.ligacoes-externas .navbar .navbar-mini{
    margin-right: 7px;
}

.ligacoes-externas .navbar .navbar-mini li{
    list-style-type: none;
}

.ligacoes-externas .navbar .navbar-mini li a{
    text-decoration: none;
    color: #DA70D6;
    font-size: 15px;
}

.ligacoes-externas .navbar .navbar-mini-p{
    margin: 0px 64px 0px 64px;
}

.ligacoes-externas .navbar .navbar-mini-p a{
    text-decoration: none;
    color: #DA70D6;
}

.ligacoes-externas .navbar .navbar-mini-p a:hover{
    text-decoration: underline;
    text-decoration-thickness: 1px;
}

.navbar .navbar-segundo{
    border: 1px solid #f8f9fa;
    margin: 10px -5px 10px 5px;
}

.navbar .navbar-segundo li{
    list-style-type: none;
}

.navbar .navbar-segundo li span{
    display: flex;
    justify-content: center;
    margin: 3px 0px 3px 0px;
}

.navbar .navbar-terseiro{
    display: flex;
    border: 1px solid #72777d;
    margin: 10px -5px 10px 5px;
}

.navbar .navbar-terseiro li{
    list-style-type: none;
    margin: 2px 0px 2px 0px;
    padding: 0px 8px 0px 4px;
}

.navbar .navbar-terseiro li:nth-child(2){
    border-right: 0.1px solid #72777d;
}